body {
  font-family: Arial;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #cccccc;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-between;
  padding: 10px;

}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}



/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Conteneur des graphiques */
.chart-container {
    width: 80%;          /* largeur du graphique */
    max-width: 800px;    /* largeur max */
    height: 300px;       /* hauteur fixe */
    margin: 20px auto;   /* centrage horizontal */
}

/* Force le canvas à respecter le conteneur */
.chart-container canvas {
    width: 100% !important;
    height: 100% !important;
}

.img{
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.img img{
  width: 15%;
  margin-right: 20px;
}